/*nav horizental*/
body{
    margin-left: 0%;
}
.username{
    background-color: rgb(126,87,194);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    margin-top: 3px !important;
    color: white;
    position: relative;

    
}

.username span {
    position: absolute;
    top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.maginifier{
    width:70px;
    height: 35px;
    background-color: rgb(249,249,249);
    border-radius: 2px;
    position: relative;
    border: 0.5px solid rgb(223, 218, 218);
    
    
    
    

}

.maginifier i{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.horizental{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





.nav1{
    display: flex;
}



.nav2{
    display: flex;
    justify-content: center;
}

.nav3{
    display: flex;
    justify-content:center;
    font-family: arial;
    font-weight: normal;
    
}

.item3{
    margin: 0px 12px;
}


.item3:nth-child(1),.item3:nth-child(2){
    position:relative;  
}


.item3:nth-child(1) i,.item3:nth-child(2) i{
    position:absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.item3:nth-child(1){
    margin-right: 35px;
    
}

.item3:nth-child(2){
    margin-right: 26px;
}




.nav2 input{
    width: 500px;
    height: 33px;   
    margin-right: 0%;
    border: 0.5px solid rgb(223, 218, 218);
    outline-width: 0.1px;
    
    
}

.nav3{
    margin-right: 25px;
}


.item2:nth-child(3){
    position:relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(249,249,249);
    margin-left: 10px;
    
}

.item2:nth-child(3) i{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


nav{
    position: relative;
}

.nav2{
    position: absolute;
    right: 325px;
}


.nav1 span{
    font-family:arial;
    font-size:20px;
}

.nav1{
    /*margin-left: 60px;*/
    margin-top: 10px;
    
    
}

.nav1 span{
    
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 0;
    
}

.nav1 i{
    font-size:25px;
    
}

.nav1 i{
    color:red !important;
}




/*nav vertucal*/
.vertical-horizental{
    display: grid;
    grid-template-columns: 1fr 18fr;
    
} 
.vertical{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300%;
      
}

.vertical div{
    margin-left: 0%;
    width: 100%;
    height: 70px;
    background-color: white;
    text-align: center;
    padding-top: 20%;
    box-sizing: border-box;
    
}



.vertical div:hover{
    cursor: pointer;
    background-color:rgb(243, 239, 239)
    
    
}



.vertical i{
    font-size: 20px;
}


.vertical div span{
    font-family: Roboto;
    font-size: 10px;
}

.hamburgermenuicon{
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
    padding-top: 13px;
    width: 50px;
}

.hamburgermenuicon i{
   font-size: 20px;
}


/*hamburger-menu*/
.navvertical{
    display: inline-block;
}

.hamburger-close{
    display:none;
}

.hamburger-open{
    margin-top: 20px;
}

ul{
    list-style-type:none;
    padding-left: 0%;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(207, 207, 207);
    
}

li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

li:hover{
    background-color:rgb(243, 239, 239) ;
}


li i{
    font-size: 17px;
    display: inline-block;
    text-align: center;
    width: 20px;
}


li span{
    
    margin-left: 30px;
    font-family: Roboto;
    font-size: 15px;
    display: inline-block;
    margin-left: 20px;
    width: 150px;
    height: 18.5px;
}

ul li div:nth-child(2){
    text-align: left;
}


.subscriptiontext{
    /*text-align: left;*/
    margin-left: 0;
    font-family: Roboto;
    color: rgb(105, 105, 102);
}

.subscriptiontext2{
    display: block;
}


li .img{
    width: 18.5px;
    height: 18.5px;
    border-radius: 50%;
    overflow: hidden;
    background-color:white;
}

img{
    width: 100%;
}


body,html{
    height: 98%;
}

.hamburger-open{
    height: 50%;
    float: left;
    overflow-y: scroll !important; 
}