/*nav horizental*/
body{
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0;
}

a{
    text-decoration: none;
}
.username{
    background-color: rgb(126,87,194);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    margin-top: 3px !important;
    color: white;
    position: relative;

    
}

.username span {
    position: absolute;
    top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.maginifier{
    width:70px;
    height: 35px;
    background-color: rgb(249,249,249);
    border-radius: 2px;
    position: relative;
    border: 0.5px solid rgb(223, 218, 218);
    
    
    
    

}

.maginifier i{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.horizental{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    
    margin-bottom: 0px;
    width: 95%;
    margin-left: 70px;
    background-color: white;
    z-index: 1200;
    margin-top: 0 !important;
    padding-top: 8px;
    padding-bottom:9px ;
    
}





.nav1{
    display: flex;
}



.nav2{
    display: flex;
    justify-content: center;
}

.nav3{
    display: flex;
    justify-content:center;
    font-family: arial;
    font-weight: normal;
    
}

.item3{
    margin: 0px 12px;
}


.item3:nth-child(1),.item3:nth-child(2){
    position:relative;  
}


.item3:nth-child(1) i,.item3:nth-child(2) i{
    position:absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.item3:nth-child(1){
    margin-right: 35px;
    
}

.item3:nth-child(2){
    margin-right: 26px;
}




.nav2 input{
    width: 500px;
    height: 33px;   
    margin-right: 0%;
    border: 0.5px solid rgb(223, 218, 218);
    outline-width: 0.1px;
    
    
}

.nav3{
    margin-right: 25px;
}


.item2:nth-child(3){
    position:relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(249,249,249);
    margin-left: 10px;
    
}

.item2:nth-child(3) i{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


nav{
    position: relative;
}

.nav2{
    position: absolute;
    right: 325px;
}


.nav1 span{
    font-family:arial;
    font-size:20px;
}

.nav1{
    /*margin-left: 60px;*/
    margin-top: 10px;
    
    
}

.nav1 span{
    
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 0;
    
}

.nav1 i{
    font-size:25px;
    
}

.nav1 i{
    color:red !important;
}




/*nav vertucal*/
.vertical-horizental{
    display: grid;
    grid-template-columns: 1fr 18fr;
    
    
} 
.vertical{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300%;
      
}

.vertical div{
    margin-left: 0%;
    width: 100%;
    height: 70px;
    background-color: white;
    text-align: center;
    padding-top: 20%;
    box-sizing: border-box;
    
}



.vertical div:hover{
    cursor: pointer;
    background-color:rgb(243, 239, 239)
    
    
}



.vertical i{
    font-size: 17px;
}


.vertical div span{
    font-family: Roboto;
    font-size: 10px;
}

.hamburgermenuicon{
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
    padding-top: 20px;
    width: 50px;
    position: fixed;
    
    
}

.hamburgermenuicon i{
   font-size: 20px;
}

.hamburger-close div{
    padding-left: 9px;
    padding-top: 16px;
}


/*hamburger-menu*/
.navvertical{
    display: inline-block;
    
}

.hamburger-close{
    display:flex;
    position: fixed;
    left: 0%;
    
    margin-top: 37px !important;
}

.hamburger-open{
    margin-top: 20px;
    display: block;
}

.hamburger-open ul{
    list-style-type:none;
    padding-left: 0%;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(207, 207, 207);
    
}

.hamburger-open li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.hamburger-open li:hover{
    background-color:rgb(243, 239, 239) ;
}


.hamburger-open li i{
    font-size: 17px;
    display: inline-block;
    text-align: center;
    width: 20px;
}


.hamburger-open li span{
    
    margin-left: 30px;
    font-family: Roboto;
    font-size: 15px;
    display: inline-block;
    margin-left: 20px;
    width: 150px;
    height: 18.5px;
}

.hamburger-open ul li div:nth-child(2){
    text-align: left;
}


.subscriptiontext{
    /*text-align: left;*/
    margin-left: 0;
    font-family: Roboto;
    color: rgb(105, 105, 102);
}

.subscriptiontext2{
    display: block;
}


.hamburger-open li .img{
    width: 18.5px;
    height: 18.5px;
    border-radius: 50%;
    overflow: hidden;
    background-color:white;
}

img{
    width: 100%;
}




body{
 
 height: 100%;
 overflow-y: scroll;   
    
}

.hamburger-open{  
    height: 88%;
    overflow-y:scroll;
    position:fixed;
    left: 0;
    scrollbar-color:red;
    scrollbar-width:none;
    margin-top: 30px !important;
     
}

.hamburger-open:hover{  
    
    scrollbar-width:thin;
    scrollbar-color:rgb(193,193,193) white
}


.viewall{
    color: rgb(105, 105, 102);
}

.explore{
  display: inline-block;
  
}

.explore span{
    margin-left: 0;
    color:rgb(87, 85, 85) ;
}
.hamburger-open ul:nth-child(7){
    text-align: left !important;
    
    
}

.hamburger-open pre{
    margin: 0 0;
    
    padding-left: 0 !important;
    position: absolute;
    left:-60px;
}
.hamburger-open pre a{
    color: rgb(96,96,100);
    font-family: Roboto;
    font-size: 12px;
}

.slider{
    
    background-color: white;
    
    
}

.slider ul{
    list-style-type: none;
    margin-left: 70px;
    position: fixed;
    top: 45px;
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-left: 5px !important;
    
    
    
    
    
    
    
   
     
        
}

.slider ul li{
    
    float:left;
    padding: 10px 7px;
    
    
}

.slider ul li:nth-child(1){
    
    float:left;
    padding-left: 0px;
    
    
}

.slider ul li div{
   
    background-color: rgb(242,242,242); 
    width: fit-content;
    padding: 10px 10px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    padding-top: 4px;
    box-sizing: border-box;
    font-family: Roboto;
    border: 1px solid rgb(202, 202, 202);
    transition:background-color 0.3s;
  
    
}

.slider ul li div:hover{
    background-color: rgb(226, 222, 222);   
}


/*owl*/
.owl-carousel{
    margin-bottom: 0px;
    padding-left: px !important;
    margin-top: 8px;
}

.owl-dots{
    display: none;
}

.owl-item{
  width: fit-content !important;
}

.owl-stage{
    
    margin-top: 0px;
    padding-left: 20px !important;
    position:relative !important;
    background-color: white;
}

.owl-nav{
    display: block;
    
}


.owl-prev{
    position:absolute !important;
    top:10px;
    left:8px;
    font-size: 30px !important;
    
    background-color: white !important;
    padding-bottom: 5px  !important;
    width: 30px  !important;
    height: 30px !important;
    border-radius: 15px;
    text-align: center;
}
.owl-prev span{
    position: absolute;
    bottom: 1.5px;
    left:9px
}


.owl-next{
    position:fixed !important;
    top:65px;
    left:1300px;
    font-size: 30px !important;
    background-color: white !important;
    /*padding-bottom: 5px  !important;*/
    width: 30px  !important;
    height: 30px !important;
    border-radius: 15px;
    text-align: center;
    z-index: 100;
    
    
}

.owl-next span{
    position: absolute;
    bottom: 1.5px;
    left:10px
}


.firstItem{
    background-color: black !important;
    color: white;
    border: none !important;
}
main{
    margin-left: 70px;
    margin-top: 50px;
    background-color: rgb(249,249,249);
    margin-right: 0%;
    
}
.section1{
    margin-left: 30px;
    margin-top: px;
    margin-right: 0%;
    padding-top: 45px;
    padding-bottom: 50px;
}


/*main*/
/*section1 video-cover*/

.section1 .items1 .image-container{
    width: 270px;
    position: relative;
    
}

.section1 .items1{
    box-sizing: border-box;
    padding:0px 0px;
    width: fit-content;
    
    
}


.section1 .items1 .image-container span{
    font-size: 13px;
    font-family: Roboto;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 2px 2px;
    border-radius: 1px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.section1 .items1 .captions .img-logo img{
    width: 40px;
    height:40px;
    border-radius: 20px;
    
}

.section1 .items1 .captions .caption-top{
    max-width: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    
}



.section1 .items1 .captions .caption-top .captions-text{
    padding:2px 10px;
    padding-bottom: 4px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    width:270px;
    margin-left: 0px;
    
}


.caption-bottom pre{
    font-family: Roboto;
    font-size: 12px !important;
    margin: 6px 0px;
}

.caption-bottom{
    padding-left: 48px;
    position: relative;
    
}

.caption-bottom i{
    font-size: 3px;
    
    position: absolute;
    bottom: 5px;
}



.section1{
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 10px;
    row-gap: 40px;
}


/*section2 shorts*/
.section2{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 30px;
    padding-bottom:30px ;
    margin: 0px 20px;
}

.section2 .header{
    display: flex;
    justify-content: space-between;
    font-size: 20px ;
}


.section2 .header .left{
    display:flex;
    margin-left: 10px;
    
}

.section2 .header .left div:nth-child(1){
    margin-right: 10px;
    
}

.section2 .header .right{
    margin-right: 10px;
    
}
.section2 .content{
    display: grid;
    grid-template-columns: repeat(7,auto);
    column-gap: 15px;
}

.section2 .content .item{
    margin: 30px 0px;
    margin-bottom: 15px;
    
   
}

.section2 .content{
    font-size: 13px !important;
    line-height: 20px;
    font-family: Roboto !important;
}

.section2 .content pre{
    font-family: Roboto !important;
    margin-top: 5px;
    font-size: 14px;
    color:rgb(151, 147, 147) ;
    
}

.section2 .footer{
    text-align: center;
}



/*section 3*/
.section3 .items1 .image-container{
    width: 270px;
    position: relative;
}


.section3 .items1 .image-container span{
    font-size: 13px;
    font-family: Roboto;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 2px 2px;
    border-radius: 1px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.section3 .items1 .captions .img-logo img{
    width: 40px;
    height:40px;
    border-radius: 20px;
}

.section3 .items1 .captions .caption-top{
    width: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.section3 .items1 .captions .caption-top .icon{
    
}


.section3 .items1 .captions .caption-top .captions-text{
    padding:2px 5px;
    padding-bottom: 4px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    width:270px;
    margin-left: 0px;
    

}
.section3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 40px;
}


.section3{
    margin: 40px 20px;
    margin-bottom: 30px;
    padding-bottom: 45px;
    border-bottom: 2px solid black;
}


/*section4*/
.section4 .container{
    padding-left: 20px;
}
.section4 .content{
    max-width: 350px !important;
    min-width: 300px;
    border: 1px solid rgb(226, 222, 222);
    padding: 20px 20px;
    padding-top: 10px;
    padding-left: 0%;
    margin-right: 0px !important; 
    background-color: white;
    
}

.text-box .text-box-top{
    
    margin-right: 100px;
    margin-left:20px;
    padding: 0 !important;
}

.text-box .text-box-content{
    line-height: 25px;
    margin: 20px 20px;
    margin-right: 0;
}

.text-box .text-box-bottom{
    
    margin-left: 20px;
}

.text-box .text-box-top div:nth-child(1){
    background-color: rgb(184, 169, 41);
    max-width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

.text-box .text-box-top img{
    padding-top: 2.5px;
    width: 80%;
}

.text-box .text-box-top{
    display: flex;
    align-items: center;
}

.text-box .text-box-top pre i{
    font-size: 3px;
}

.text-box .text-box-top div:nth-child(2){
    margin-left: 10px;
    font-family:Roboto;
    font-size:12px; 
}

.text-box .text-box-top div:nth-child(2) pre{
    font-family:Roboto 
}

.text-box .text-box-bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.text-box .text-box-bottom-left{
    display: flex;
    
}

.text-box .text-box-bottom-right{
    display: flex;
}

.text-box .text-box-bottom-left div{
    
    margin-right: 5px;
}

.text-box .text-box-bottom-left div:nth-child(3){
    margin-left: 5px;
    padding-top: 2px;
    box-sizing: border-box;
}

.text-box .text-box-bottom-right div{
    
    margin-right: 5px;
}

.text-box .text-box-bottom-right div:nth-child(3){
    margin-left: 10px;
}

.section4 .header{
    
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family: Roboto;
    width: fit-content;
}

.section4 .container{
    display: grid;
    grid-template-columns: repeat(5,auto) !important;
    column-gap: 10px !important
}

.section4{
    padding-bottom: 20px;
}

body{
    margin-right: 0;
}

main{
    /*border: 1px solid black;*/
    margin-right: 0;

}





